form {
  padding-top: 25px;
  position: relative;
  text-align: center;
  background-color: rgba(255, 68, 0, 0.616);
  width:100vw;
  height:50px;
  margin-left: -8px;
}

form input{
  width: 70vw;
}

ul{
  position: relative;
  text-align: center;
  background-color: rgba(21, 255, 0, 0.479);
  width:100vw;
  margin-left: -8px;
}