ul {
  background-color: grey;
  padding-top: 17px;

  list-style-type: none;

  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 34px;
  margin-top: -10px;
  left: 50%;
}

li{
  display: block;
  float: left;
}

a {
  padding: 17px;
}

a:hover {
  background-color:skyblue;
}