<div *ngIf="movie" class="row">
    <div class="col-md-12">
      <h2 *ngIf="movie._id">Nomination Details</h2>
    </div>
</div>

<div *ngIf="movie" class="row">
    <ul class="list-group">
        <li class="list-group-item">
            {{movie.name}}<br>
            <br>film: {{movie.film}}
            <br>category: {{movie.category}}
            <br>ceremony year: {{movie.year_ceremony}}
            <br>winner: {{movie.winner}}<br>
            <br>
            <br>additional information
            <br>
            <br>
            <p *ngFor="let movie of results">
            <br>{{movie.Poster}}
            <br>Genre: {{movie.Genre}}
            <br>Ratings:
            <br>Metascrore: {{movie.Metascore}}
            <br>IMDB Rating: {{movie.imdbRating}}
            <br>Plot: {{movie.Plot}}
            </p>
        </li>
    </ul>


</div>